.logo-name {
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    letter-spacing: 5px;
}
 
.logo-name:before {
    content: attr(data-text);
    position: absolute;
    background: linear-gradient(#fff, #f6ffa0 ,#fff);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 100% 100%;
    /* line-height: 0.9999; */
    clip-path: ellipse(35px 35px at -2.54% -9.25%);
    animation: swing 5s infinite alternate;
}

@keyframes swing {
    0% {
        -webkit-clip-path: ellipse(35px 35px at -2.54% -9.25%);
        clip-path: ellipse(35px 35px at -2.54% -9.25%);
    }
    50% {
        -webkit-clip-path: ellipse(35px 35px at 49.66% 64.36%);
        clip-path: ellipse(35px 35px at 49.66% 64.36%);
    }
    100% {
        -webkit-clip-path: ellipse(35px 35px at 102.62% -1.61%);
        clip-path: ellipse(35px 35px at 102.62% -1.61%);
    }
}
